## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.45,74,38,7.49,light rain
1,1,Westport,US,41.1415,-73.3579,86.18,57,1,11.61,clear sky
2,2,Busselton,AU,-33.6500,115.3333,59.09,84,100,10.25,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,31.66,93,0,4.61,clear sky
4,4,Bluff,NZ,-46.6000,168.3333,49.80,71,74,5.77,broken clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.45,74,38,7.49,light rain
1,1,Westport,US,41.1415,-73.3579,86.18,57,1,11.61,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,76.12,79,8,13.02,clear sky
14,14,Bela Vista,BR,-22.1089,-56.5211,77.70,34,100,4.63,overcast clouds
17,17,Huilong,CN,31.8111,121.6550,82.98,56,0,9.89,clear sky
20,20,Bethel,US,41.3712,-73.4140,83.80,65,1,5.75,clear sky
22,22,Bathsheba,BB,13.2167,-59.5167,81.21,69,40,17.05,scattered clouds
23,23,Kapaa,US,22.0752,-159.3190,87.78,68,20,3.00,few clouds
25,25,Lorengau,PG,-2.0226,147.2712,78.75,88,100,7.14,overcast clouds
29,29,Avarua,CK,-21.2078,-159.7750,77.05,69,20,10.36,few clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.45,74,38,7.49,light rain
1,1,Westport,US,41.1415,-73.3579,86.18,57,1,11.61,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,76.12,79,8,13.02,clear sky
14,14,Bela Vista,BR,-22.1089,-56.5211,77.70,34,100,4.63,overcast clouds
17,17,Huilong,CN,31.8111,121.6550,82.98,56,0,9.89,clear sky
...,...,...,...,...,...,...,...,...,...,...
692,692,Sayville,US,40.7359,-73.0821,88.18,75,75,6.91,broken clouds
693,693,Eravur,LK,7.7733,81.6095,78.78,78,100,2.95,overcast clouds
694,694,Wuning,CN,29.2589,120.2311,76.21,68,94,2.26,overcast clouds
696,696,Rantepao,ID,-2.9701,119.8978,76.17,80,65,2.35,broken clouds
701,701,Santarem,BR,-2.4431,-54.7083,77.13,94,0,2.30,clear sky

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.45,light rain,3.0707,172.7902,
1,Westport,US,86.18,clear sky,41.1415,-73.3579,
8,Rikitea,PF,76.12,clear sky,-23.1203,-134.9692,
14,Bela Vista,BR,77.70,overcast clouds,-22.1089,-56.5211,
17,Huilong,CN,82.98,clear sky,31.8111,121.6550,
20,Bethel,US,83.80,clear sky,41.3712,-73.4140,
22,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
23,Kapaa,US,87.78,few clouds,22.0752,-159.3190,
25,Lorengau,PG,78.75,overcast clouds,-2.0226,147.2712,
29,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.45,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Westport,US,86.18,clear sky,41.1415,-73.3579,The Westport Inn
8,Rikitea,PF,76.12,clear sky,-23.1203,-134.9692,Pension Maro'i
14,Bela Vista,BR,77.70,overcast clouds,-22.1089,-56.5211,Bella Vista Palace Hotel
17,Huilong,CN,82.98,clear sky,31.8111,121.6550,Hilton Garden Inn Qidong
...,...,...,...,...,...,...,...
692,Sayville,US,88.18,broken clouds,40.7359,-73.0821,La Quinta Inn & Suites by Wyndham Islip - MacA...
693,Eravur,LK,78.78,overcast clouds,7.7733,81.6095,Farhan KING House
694,Wuning,CN,76.21,overcast clouds,29.2589,120.2311,Fu Du Hotel
696,Rantepao,ID,76.17,broken clouds,-2.9701,119.8978,Hotel Luta Resort
701,Santarem,BR,77.13,clear sky,-2.4431,-54.7083,Ecotur Lodge

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))